{% extends "layouts/nsips-layout.html" %}

{% set title = "Move files" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukRadios({
        name: "documentFolder",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Project management",
            text: "Project management"
          },
          {
            value: "Correspondence",
            text: "Correspondence"
          },
          {
            value: "Legal advice",
            text: "Legal advice"
          },
          {
            value: "Transboundary",
            text: "Transboundary"
          },
          {
            value: "Land rights",
            text: "Land rights"
          },
          {
            value: "S51 advice",
            text: "S51 advice"
          },
          {
            value: "Pre-application",
            text: "Pre-application"
          },
          {
            value: "Acceptance",
            text: "Acceptance"
          },
          {
            value: "Pre-examination",
            text: "Pre-examination"
          },
          {
            value: "Relevant representations",
            text: "Relevant representations"
          },
          {
            value: "Examination",
            text: "Examination"
          },
          {
            value: "Recommendation",
            text: "Recommendation"
          },
          {
            value: "Decision",
            text: "Decision"
          },
          {
            value: "Post-decision",
            text: "Post-decision"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </div>
  </div>
{% endblock %}
