{% extends "layouts/nsips-layout.html" %}

{% set title = "Move documents" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: applicationUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="pins-masthead-summary">
        <span class="govuk-caption-l">BC0110005</span>
        <h1 class="govuk-heading-l">
          Case name 001
        </h1>
        <p class="govuk-body">
          Business and Commercial, Office Use
        </p>
        {{govukTag({
          text: "Pre-application",
          classes: "govuk-tag--green"
        })}}
      </div>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        {{title}}
      </h2>

      <p class="govuk-body-l folder-name--first">
        Project
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          classes: "govuk-button--secondary",
          href: "#",
          text: "Move document here"
        }) }}

        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Add new folder"
        }) }}
      </div>

      {{ govukRadios({
        name: "documentFolder",
        fieldset: {
          legend: {
            text: "Main project folder",
            isPageHeading: false,
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "Project management",
            text: "Project management"
          },
          {
            value: "Correspondence",
            text: "Correspondence"
          },
          {
            value: "Legal advice",
            text: "Legal advice"
          },
          {
            value: "Transboundary",
            text: "Transboundary"
          },
          {
            value: "Land rights",
            text: "Land rights"
          },
          {
            value: "S51 advice",
            text: "S51 advice"
          },
          {
            value: "Pre-application",
            text: "Pre-application"
          },
          {
            value: "Acceptance",
            text: "Acceptance"
          },
          {
            value: "Pre-examination",
            text: "Pre-examination"
          },
          {
            value: "Relevant representations",
            text: "Relevant representations"
          },
          {
            value: "Examination",
            text: "Examination"
          },
          {
            value: "Recommendation",
            text: "Recommendation"
          },
          {
            value: "Decision",
            text: "Decision"
          },
          {
            value: "Post-decision",
            text: "Post-decision"
          }
        ]
      }) }}

      {{ govukButton({
        classes: "govuk-button--secondary",
        href: "move-files-2",
        text: "Open folder"
      }) }}

    </div>
  </div>
{% endblock %}
