{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Create project update - Gatwick Airport</span>
      <h1 class="govuk-heading-l">Project update</h1>

      <form action="/examples/create-project-update/type">

        {{ govukTextarea({
          id: "blah1",
          name: "blah1",
          label: {
            text: "Details about the update",
            classes: "govuk-label--m"
          },
          hint: {
            text: "The recommended length is 500 characters
"
          },
          value: data.blah1
        }) }}

        {{ govukCheckboxes({
          name: "blah2",
          fieldset: {
            legend: {
              text: "Email to subscribers?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "De-select if you do not want to send an email notification to subcribers"
          },
          values: data.blah2,
          items: [
            {
              value: "Send to subscribers",
              text: "Send to subscribers"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}