{% extends "layouts/main.html" %}

{% set heading = 'Team (2)' %}
{% set pageName = heading + ' - ' + application.name %}
{% set primaryNavId = 'applications' %}
{% set secondaryNavId = 'team' %}

{% block header %}
  {{super()}}
  {% include "_includes/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}

  {% include "_includes/secondary-navigation.njk" %}

  {{appPageHeader({
      heading: {
        text: heading,
        classes: 'govuk-heading-l'
      },
      items: [{
        text: 'Add team member',
        href: '/applications/' + application.id + '/team/new'
      }]
    })}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="app-user-card">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state" href="#">Baylee Smith</a> <span class="govuk-!-font-weight-regular"></h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0 govuk-!-font-size-16">baylee@example.com</p>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0 govuk-!-font-size-16 govuk-hint">Case manager</p>
      </div>

      <div class="app-user-card">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state" href="#">Adam Harvey</a> <span class="govuk-!-font-weight-regular"></h2>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0 govuk-!-font-size-16">adam@example.com</p>
        <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0 govuk-!-font-size-16 govuk-hint">NSIP officer</p>
      </div>

    </div>
  </div>

{% endblock %}