{% set footerHTML%}
  <h2 class="govuk-heading-m">Get help</h2>
  <p class="govuk-!-font-size-16">Email: <a href="mailto:"help@example.com">help@example.com</a></p>
  <ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/manage-prototype">
        Manage prototype
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?currentStage=Pre-application">
        Pre-application
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?currentStage=Application received">
        Application received
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?currentStage=Application published">
        Application published
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?currentStage=Examination">
        Examination
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?currentStage=Recommendation">
        Recommendation
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?currentStage=Decision">
        Decision
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?currentStage=Post-decision">
        Post-decision
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?repStatus=preOpen">
        Preopen
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?repStatus=open">
        Open
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?repStatus=closed">
        Closed
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?repStatus=published">
        Published
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?repStatus=rule6Published">
        Rule 6 published
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?rule6DocumentPath=true">
        Turn on rule 6 document path
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/set-stage?rule6DocumentPath=false">
        Turn off rule 6 document path
      </a>
    </li>
    {# <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/manage-prototype/clear-data">
        Clear data
      </a>
    </li> #}
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/clear-all-data?returnUrl={{originalUrl}}">
        Clear data
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/accessibility">
        Accessibility
      </a>
    </li>
  </ul>
{% endset %}

{{ govukFooter({
    meta: {
        html: footerHTML
    }
  }) }}