{% if data.user %}
  {% set serviceUrl = '/applications' %}
{% else %}
  {% set serviceUrl = '/account/sign-in' %}
{% endif %}

{{ govukHeader({
  productName: serviceName,
  homepageUrl: serviceUrl,
  navigationClasses: "govuk-header__navigation--end",
  navigation: [{
    href: '/account/sign-in',
    text: 'Sign in'
  } if not data.user, {
    href: '/applications',
    text: 'Cases',
    active: primaryNavId == 'applications'
  } if data.user, {
    href: '/account/sign-out',
    text: 'Sign out'
  } if data.user]
}) }}