{{ xGovukPrimaryNavigation({
  visuallyHiddenTitle: "Navigation",
  items: [{
    text: "Cases",
    href: "/applications",
    current: primaryNavId == 'applications'
  }, {
    text: "General advice",
    href: "/activity",
    current: primaryNavId == 'activity'
  }]
}) if data.user }}