{% extends "layouts/main.html" %}

{% set pageName = 'Relevant representations - ' + application.name %}
{% set primaryNavId = 'applications' %}
{% set secondaryNavId = 'comments' %}

{% block header %}
  {{super()}}
  {% include "_includes/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}

  {% include "_includes/secondary-navigation.njk" %}

  {{appPageHeader({
    heading: {
      text: 'Relevant representations',
      classes: 'govuk-heading-l'
    },
    items: [{
      text: 'Create relevant representation',
      href: '/applications/' + application.id + '/comments/new'
    }]
  })}}

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "_includes/document-filter-panel.njk" %}
    </div>
    <div class="app-filter-layout__content">

      {% include "_includes/document-search-form.njk" %}

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>

        {{appButtonMenu({
          items: [{
            text: 'Mark as not checked',
            classes: 'govuk-button--secondary'
          }, {
            text: 'Mark as checked',
            classes: 'govuk-button--secondary'
          }, {
            text: 'Mark as ready to publish',
            classes: 'govuk-button--secondary'
          }, {
            text: 'Mark as do not publish',
            classes: 'govuk-button--secondary'
          }]
        }) if comments.length > 0}}
      </div>

      {% if comments.length %}
        <div class="app-list app-list--checkboxes">
          {% for item in comments %}
            <div class="app-list__item">

              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    <span class="govuk-visually-hidden">Select</span>
                  </label>
                </div>
              </div>

              <div class="app-list__contents">
                <h2 class="govuk-heading-m">
                  <a href="/applications/{{application.id}}">
                    {{item.name}}
                  </a>
                </h2>

                {{ govukTag({
                  text: item.status,
                  classes: item.status | documentStatusColour
                }) }}

                {{ govukSummaryList({
                  classes: "govuk-summary-list--no-border",
                  rows: [
                    {
                      key: {
                        text: "Date received"
                      },
                      value: {
                        text: document.receivedDate | govukDateTime
                      }
                    },
                    {
                      key: {
                        text: "File size"
                      },
                      value: {
                        text: document.size
                      }
                    }
                  ]
                }) }}
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no results.</p>
      {% endif %}

      {% if pagination.pageItems > 1 %}
        {% include "_includes/pagination.njk" %}
      {% endif %}


    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
    new AppFrontend.ButtonMenu({
      container: $(".app-button-menu").eq(3),
      mq: "(min-width: 1000em)",
      buttonText: "Mark documents",
      buttonClasses:
        "govuk-button--secondary app-button-menu__toggle-button--secondary",
      menuClasses: "app-button-menu__wrapper--righ",
    });
  </script>
{% endblock %}
