{% extends "layouts/main.html" %}

{% set pageName = 'Updates - ' + application.name %}
{% set primaryNavId = 'applications' %}
{% set secondaryNavId = 'updates' %}

{% block header %}
  {{super()}}
  {% include "_includes/identity-bar.njk" %}
{% endblock %}
{% block content %}
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}

  {% include "_includes/secondary-navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Updates</h1>

      {# <p class="govuk-body">There are no updates.</p> #}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Create update"
        }) }}
      </div>
      <div class="app-list">
      {% for update in updates %}

        {% set notifyText %}
          {% if update.notifySubscribers %}
            Yes
          {% else %}
            No
          {% endif %}
        {% endset %}

          <div class="app-list__item">
            <h2 class="govuk-heading-s">
              <a href="/applications/{{application.id}}/updates/{{update.id}}">
                {{update.description | truncate(50) }}
              </a>
            </h2>

            {{ govukTag({
              text: update.status,
              classes: update.status | documentStatusColour
            }) }}

            {{ govukSummaryList({
              classes: "govuk-summary-list--no-border",
              rows: [
                {
                  key: {
                    text: "Notify subscribers"
                  },
                  value: {
                    text: notifyText
                  }
                }
              ]
            }) }}
          </div>
      {% endfor %}
      </div>

    </div>
  </div>

{% endblock %}