{% extends "layouts/main.html" %}

{% set pageName = 'Sorry, the service is unavailable' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{pageName}}</h1>


      <p>You’ll be able to use the service from 9am on Monday 19 November 2024.</p>

      <p>If you have any questions, you can contact us:</p>

      <p class="govuk-body">
        <b>Online:</b><br>
        <a href="https://contact-us.planninginspectorate.gov.uk/hc/en-gb/requests/new">Fill out our contact form</a>
      </p>
      <p class="govuk-body">
        <b>Phone:</b><br>
        0303 444 5000
      </p>

      <p>Open Monday to Friday: 9am to 4pm.<br>
      Closed on weekends and bank holidays.</p>

    </div>
  </div>

{% endblock %}