{% extends "layouts/main.html" %}

{% set pageName = "Prototype" %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <p>Select a version or page of the prototype:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/open-in-adobe">'Open in Adobe' link page</a></li>
        <li><a href="/account/sign-in">Adam Silva's Prototype</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
