{% extends "layouts/main.html" %}

{% set pageName = "Prototype" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <p>Select a version or page of the prototype:</p>

      <ul class="govuk-list govuk-list">
        <li><a href="v2/applications">2025 prototype</a></li>
        <li><a href="/account/sign-in">Adam Silver's Prototype</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
